* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Nunito', sans-serif !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif; }

.pageContainer {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

header {
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
  header .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%; }
    header .grid .logoContainer {
      -webkit-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
      header .grid .logoContainer--logo {
        background: url("../img/logo-white.svg") no-repeat;
        background-position-y: -9px !important;
        background-size: 100%;
        width: 100%;
        height: 70px;
        min-width: 260px;
        min-height: 70px;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
    header .grid .menuContainer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      header .grid .menuContainer--menu {
        list-style: none; }
        header .grid .menuContainer--menu li {
          list-style: none;
          display: inline;
          text-transform: uppercase;
          color: #fff;
          padding: 0 10px;
          position: relative;
          -webkit-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          cursor: pointer; }
          header .grid .menuContainer--menu li a {
            color: inherit;
            text-decoration: none; }
          header .grid .menuContainer--menu li::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 28px;
            top: -5px;
            background: rgba(255, 255, 255, 0.2);
            width: 100%;
            z-index: -1;
            -webkit-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out; }
          header .grid .menuContainer--menu li:hover::before {
            bottom: -4px; }
        header .grid .menuContainer--menu li.btn {
          margin-right: 10px; }
          header .grid .menuContainer--menu li.btn:last-of-type {
            margin-right: 0; }
          header .grid .menuContainer--menu li.btn::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            top: -5px !important;
            background: rgba(255, 255, 255, 0.2);
            width: 100%;
            z-index: -1;
            -webkit-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            -webkit-box-shadow: inset 0 0 0 2px #FFF;
            box-shadow: inset 0 0 0 2px #FFF; }
          header .grid .menuContainer--menu li.btn:hover::before {
            background: white; }
          header .grid .menuContainer--menu li.btn:hover {
            color: #000; }
      header .grid .menuContainer--mobilemenu {
        display: none;
        color: #FFF;
        font-size: 1.5em; }

.mobileMenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60vw;
  background: #43A047;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: -5px 0 5px -2px rgba(52, 124, 55, 0.3);
  box-shadow: -5px 0 5px -2px rgba(52, 124, 55, 0.3);
  z-index: 100;
  -webkit-transform: translateX(60vw);
  -ms-transform: translateX(60vw);
  transform: translateX(60vw);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .mobileMenu--item {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #FFF;
    font-size: 2em;
    text-transform: uppercase; }

.menuOpen {
  -webkit-transform: translateX(0vw);
  -ms-transform: translateX(0vw);
  transform: translateX(0vw); }

.pageMove {
  position: relative;
  left: -60vw; }

.sticky {
  background: #FFF;
  color: #000;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
  .sticky .logoContainer--logo {
    background: url("../img/logo.svg") no-repeat !important;
    background-position-y: -9px !important;
    background-size: 100% !important; }
  .sticky .menuContainer {
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
    .sticky .menuContainer--menu {
      -webkit-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
      .sticky .menuContainer--menu li {
        color: #000 !important;
        padding: 0 10px;
        position: relative;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        cursor: pointer; }
        .sticky .menuContainer--menu li::before {
          background: rgba(0, 0, 0, 0.2) !important;
          -webkit-transition: all .5s ease-in-out;
          -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out; }
        .sticky .menuContainer--menu li:hover::before {
          bottom: -4px; }
      .sticky .menuContainer--menu li.btn::before {
        top: -5px !important;
        background: rgba(0, 0, 0, 0.2) !important;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        -webkit-box-shadow: inset 0 0 0 2px #000 !important;
        box-shadow: inset 0 0 0 2px #000 !important; }
      .sticky .menuContainer--menu li.btn:hover::before {
        background: black !important; }
      .sticky .menuContainer--menu li.btn:hover {
        color: #FFF !important; }

.headerContainer {
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }
  .headerContainer--image {
    height: 100vh;
    width: 100%;
    background: url("../img/header.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: none; }
  .headerContainer--video {
    position: relative;
    width: 100%;
    height: 100%; }
    .headerContainer--video video {
      min-width: 100%;
      min-height: 100%; }
  .headerContainer--text {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 5; }
    .headerContainer--text span {
      color: #FFF;
      font-size: 2em; }
      .headerContainer--text span:nth-of-type(2) {
        font-size: 1.5em; }
    .headerContainer--text .arrow {
      position: absolute;
      bottom: 10px;
      -webkit-animation: arrow 3s infinite;
      animation: arrow 3s infinite;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      opacity: .3;
      display: block;
      width: 100%;
      text-align: center; }
      .headerContainer--text .arrow i {
        color: #FFF;
        font-size: 1.4em;
        border: 0px solid #FFF;
        border-radius: 100%;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        padding: 5px; }
        .headerContainer--text .arrow i:hover {
          border: 2px solid #FFF;
          cursor: pointer; }

.steps {
  background: #43A047;
  color: #FFF;
  padding-top: 20px;
  padding-bottom: 40px; }
  .steps--overskrift {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
    font-weight: 700; }
  .steps--step {
    text-align: center; }
    .steps--step .fa-inverse {
      color: #43A047 !important; }
    .steps--step h1 {
      text-transform: uppercase;
      font-size: 1.3em;
      font-weight: 500; }

.info {
  background: #FFF;
  padding-top: 20px;
  padding-bottom: 40px; }
  .info--left {
    margin-bottom: 1em; }
  .info h1 {
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 1em; }
  .info p {
    margin-bottom: .8em;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.2em; }
  .info img {
    width: 100%; }

.reviews {
  background: #43A047;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #FFF; }
  .reviews h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
    font-weight: 700; }
  .reviews--box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .reviews--box .content {
      background: #FFF;
      color: #000;
      padding: 1em;
      width: 100%;
      -webkit-box-shadow: 0px 7px 5px -5px #163417;
      box-shadow: 0px 7px 5px -5px #163417;
      margin-bottom: .5em;
      min-height: 200px; }
      .reviews--box .content h2 {
        font-weight: 600;
        color: #255827;
        font-size: 1.2em;
        margin-bottom: .4em; }
      .reviews--box .content p {
        text-align: justify;
        line-height: 1.1em; }

.halfheader {
  width: 100vw;
  height: 50vh;
  background: url("https://static.pexels.com/photos/266044/pexels-photo-266044.jpeg") no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  position: relative; }
  .halfheader h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 5em;
    color: #FFF;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
    z-index: 5; }
  .halfheader--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0; }

.aboutContainer {
  margin-top: 20px;
  margin-bottom: 40px; }
  .aboutContainer h1 {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: .5em; }
  .aboutContainer p {
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: .6em; }
    .aboutContainer p:last-of-type {
      margin-bottom: 0; }

footer {
  background: #212121;
  color: #FFF;
  text-align: center;
  padding-bottom: 20px; }

@-webkit-keyframes arrow {
  0% {
    bottom: 10px;
    opacity: .3; }
  50% {
    bottom: 5px;
    opacity: 1; }
  100% {
    bottom: 10px;
    opacity: .3; } }

@keyframes arrow {
  0% {
    bottom: 10px;
    opacity: .3; }
  50% {
    bottom: 5px;
    opacity: 1; }
  100% {
    bottom: 10px;
    opacity: .3; } }

@media only screen and (max-width: 980px) {
  .headerContainer--video {
    display: none; }
  .headerContainer--image {
    display: block; } }

@media only screen and (max-width: 830px) {
  .menuContainer--menu {
    display: none; }
  .menuContainer {
    width: 100%; }
  .menuContainer--mobilemenu {
    display: block !important; }
  .sticky .menuContainer--mobilemenu i {
    color: #000; } }
