@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import "variables";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: $pageColor;
  height: 100%;
}

.fejlContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--title {
    font-size: 9em;
    font-weight: 700;
    color: #FFF;
    position: relative;

    &::before {
      content: attr(data-content);
      position: absolute;
      left: -2px;
      text-shadow: 1px 0 #3F51B5;
      top: 0;
      color: #FFF;
      overflow: hidden;
      clip: rect(0,900px,0,0);
      animation: animationBefore 3s infinite linear alternate-reverse;
    }

    &::after {
      content: attr(data-content);
      position: absolute;
      left: 2px;
      text-shadow: -1px 0 #F44336;
      top: 0;
      color: #FFF;
      overflow: hidden;
      clip: rect(0,900px,0,0);
      animation: animationAfter 2s infinite linear alternate-reverse;
    }
  }

  &--tekst {
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
    position: relative;

    &::before {
      content: attr(data-content);
      position: absolute;
      left: -2px;
      text-shadow: 1px 0 #3F51B5;
      top: 0;
      color: #FFF;
      overflow: hidden;
      clip: rect(0,900px,0,0);
      animation: animationBefore 3s infinite linear alternate-reverse;
    }

    &::after {
      content: attr(data-content);
      position: absolute;
      left: 2px;
      text-shadow: -1px 0 #F44336;
      top: 0;
      color: #FFF;
      overflow: hidden;
      clip: rect(0,900px,0,0);
      animation: animationAfter 2s infinite linear alternate-reverse;
    }
  }

  &--knapper {
    margin: 30px;

    &--knap {
      background-color: $pageColor;
      font-weight: 700;
      border: 2px solid #FFF;
      text-decoration: none;
      padding: 15px;
      text-transform: uppercase;
      color: #FFF;
      border-radius: 26px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: lighten($pageColor, 10%);
        color: #FFF;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

@keyframes animationBefore {
  $ryst: 20;
  @for $i from 0 through $ryst{
    #{percentage($i*(1/$ryst))}{
      clip: rect(random(200)+px,9999px, random(200)+px,0);
    }
  }
}

@keyframes animationAfter {
  $ryst: 20;
  @for $i from 0 through $ryst{
    #{percentage($i*(1/$ryst))}{
      clip: rect(random(200)+px,9999px, random(200)+px,0);
    }
  }
}