// Responsive CSS

@media only screen and (max-width: 980px){
  .headerContainer--video {
    display: none;
  }

  .headerContainer--image {
    display: block;
  }
}

@media only screen and (max-width: 830px){
  .menuContainer--menu {
    display: none;
  }

  .menuContainer {
    width: 100%;
  }

  .menuContainer--mobilemenu {
    display: block !important;
  }

  .sticky .menuContainer--mobilemenu i {
    color: #000;
  }
}