$pageColor: #43A047;
$greyColor: #212121;
$cpColor: #f3f9f1;

@font-face {
  font-family: overskrift;
  src: url('../fonts/segoeuil.ttf');
}

@font-face {
  font-family: stepOverskrift;
  src: url('../fonts/segoeui.ttf');
}